---
- name: Install MinIO systemd service
  ansible.builtin.template:
    src: minio.service.j2
    dest: /etc/systemd/system/minio.service
    mode: "0644"
  notify:
    - daemon-reload
    - restart-minio