# =========================================
# MinIO User Policies
# =========================================

- name: Render policy json per user
  ansible.builtin.template:
    src: backend-policy.j2
    dest: "/etc/minio/policies/{{ item.name }}-policy.json"
    owner: root
    group: root
    mode: "0644"
  vars:
    user: "{{ item }}"   
  loop: "{{ minio_users }}"
  loop_control:
    label: "{{ item.name }}"
  run_once: true
  delegate_to: "{{ minio_first_node }}"

- name: Ensure MinIO policies exist
  become: true
  become_user: "{{ minio_mc_user }}"
  environment:
    MC_CONFIG_DIR: "{{ minio_mc_config_dir }}"
  ansible.builtin.command: >
    {{ mc_bin_path }} admin policy create
    {{ minio_mc_alias }}
    {{ item.name }}-policy
    /etc/minio/policies/{{ item.name }}-policy.json
  loop: "{{ minio_users }}"
  loop_control:
    label: "{{ item.name }}"
  run_once: true
  delegate_to: "{{ minio_first_node }}"
  failed_when: false
  changed_when: false

- name: Attach policy to users
  become: true
  become_user: "{{ minio_mc_user }}"
  environment:
    MC_CONFIG_DIR: "{{ minio_mc_config_dir }}"
  ansible.builtin.command: >
    {{ mc_bin_path }} admin policy attach
    {{ minio_mc_alias }}
    {{ item.name }}-policy
    --user {{ item.name }}
  loop: "{{ minio_users }}"
  loop_control:
    label: "{{ item.name }}"
  run_once: true
  delegate_to: "{{ minio_first_node }}"
  changed_when: false
