---
- name: Ensure base dir exists
  ansible.builtin.file:
    path: "{{ minio_data_dir }}"
    state: directory
    owner: "{{ minio_user }}"
    group: "{{ minio_group }}"
    mode: "0755"

- name: Ensure data dirs exist with correct ownership
  ansible.builtin.file:
    path: "{{ minio_data_dir }}/{{ item }}"
    state: directory
    owner: "{{ minio_user }}"
    group: "{{ minio_group }}"
    mode: "0755"
  loop: "{{ minio_data_subdirs }}"