---
- name: argocd 네임스페이스 생성
  ansible.builtin.shell: >
    kubectl create namespace argocd --dry-run=client -o yaml | kubectl apply -f -

- name: ArgoCD 설치
  ansible.builtin.command: >
    kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

- name: ArgoCD가 생성될 때까지 대기
  ansible.builtin.command: kubectl rollout status deploy/argocd-repo-server -n argocd

- name: GitHub repo Secret 생성
  ansible.builtin.shell: |
    kubectl apply -f - <<EOF
    {{ lookup('template', 'argocd-repo-secret.yaml.j2') }}
    EOF
  no_log: true

- name: ArgoCD Application yaml remote로 복사
  ansible.builtin.copy:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "/tmp/{{ item }}"
  loop:
    - frontend-app.yaml
    - backend-app.yaml
    - monitoring-app.yaml

- name: ArgoCD Application yaml 배포
  ansible.builtin.shell: |
    kubectl apply -n argocd -f /tmp/{{ item }}
  loop:
    - frontend-app.yaml
    - backend-app.yaml
    - monitoring-app.yaml
