---
- name: Jenkins 볼륨 마운트 경로 생성
  ansible.builtin.file: 
    path: /var/jenkins
    state: directory
    owner: 1000
    group: 1000
    mode: '0775'

- name: Jenkins 컨테이너 실행 여부 확인
  ansible.builtin.shell: docker ps -a --filter "name=jenkins" --format "{{ '{{' }} .Names {{ '}}' }}"
  register: jenkins_check
  changed_when: false

# Jenkins의 기본 접속 경로를 /jenkins로 변경(리버스 프록시와 동일하게 설정)
- name: Jenkins 컨테이너 실행
  ansible.builtin.shell: |
    docker run -d --name jenkins \
    -p 8080:8080 \
    -e JENKINS_OPTS="--prefix=/jenkins" \  
    -v /var/jenkins:/var/jenkins_home \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /usr/bin/docker:/usr/bin/docker \           
    --restart unless-stopped \       
    --group-add 1001 \
    jenkins/jenkins:lts
  when: jenkins_check.stdout == ""   # 컨테이너가 없을 때만 실행

# 초기 비밀번호 확인 : sudo docker exec -it 컨테이너id cat /var/jenkins_home/secrets/initialAdminPassword