{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "FullBucketAccess",
      "Effect": "Allow",
      "Action": ["s3:*"],
      "Resource": [
{% for b in user.buckets %}
        "arn:aws:s3:::{{ b }}",
        "arn:aws:s3:::{{ b }}/*"{% if not loop.last %},{% endif %}
{% endfor %}
      ]
    }
  ]
}
