---
# roles/mysql_setup/tasks/promote_to_master.yml

- name: Stop Replication
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: "{{ mysql_unix_socket }}"
    query: "STOP REPLICA;"
  failed_when: false # 이미 멈춰있을 경우 에러 무시
  no_log: true

- name: Reset Replication
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: "{{ mysql_unix_socket }}"
    query: "RESET REPLICA ALL;"

- name: Disable Read-Only (Set as Master)
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: "{{ mysql_unix_socket }}"
    # 하나의 문자열이 아닌 리스트([]) 형태로 전달하여 개별 실행하게 함
    query:
      - SET GLOBAL read_only = OFF
      - SET GLOBAL super_read_only = OFF
  no_log: true
