---
# App DB / App user should be created AFTER replication is attached,
# so that they are replicated to the replica automatically.

- name: Primary | Ensure application database exists
  community.mysql.mysql_db:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: "{{ mysql_unix_socket }}"
    name: "{{ app_db_name }}"
    state: present
  become: true
  no_log: true

- name: Primary | Create application user and grant privileges
  community.mysql.mysql_user:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: "{{ mysql_unix_socket }}"
    name: "{{ mysql_app_user }}"
    password: "{{ mysql_app_password }}"
    host: "%"
    state: present
    priv: "{{ app_db_name }}.*:ALL"
  become: true
  no_log: true

- name: Create HAProxy check user without password
  community.mysql.mysql_user:
    login_user: "{{ mysql_root_user }}"
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: "{{ mysql_unix_socket }}"
    plugin: mysql_native_password
    name: "{{ haproxy_check_user }}"
    host: "%"
    priv: "*.*:USAGE"
    state: present
